= link_to href, method: request_method, remote: remote, class: classes.to_s + ' bookmark-link' do
  span.icon
    i.bookmark-icon.fa-bookmark(class=icon_class)

  span.has-text-black.bookmark-count = custom_design.bookmarks.size
