= link_to create_bookmarks_path(custom_design), method: request_method, remote: true, class: classes.to_s + ' bookmark-link' do
  span.icon
    i.bookmark-icon.fa-bookmark(class=icon_class)

  span.has-text-black.bookmark-count = custom_design.bookmarks.size
