= link_to href, method: request_method, remote: remote, class: classes.to_s + ' heart-link' do
  span.icon
    i.heart-icon.fa-heart(class=icon_class)

  span.has-text-black.heart-count = custom_design.hearts.size
