// METATAGS
- custom_design = @custom_designs.first
- creator_name = custom_design.creator_name
- creator_id = custom_design.creator_id

- title = creator_name
- description "Check out #{creator_name}'s Custom Designs"
- set_meta_tags 'og:title' => "#{creator_name} - CustomDesigns.app"
- set_meta_tags 'og:site_name' => 'CustomDesigns.app'
- set_meta_tags 'og:image' => image_url('preview.png')
- set_meta_tags 'og:description' => "Check out #{creator_name}'s Animal Crossing Custom Designs"
- set_meta_tags 'og:url' => creator_url(creator_id)
- set_meta_tags 'twitter:card' => 'summary_large_image'


.title = "#{creator_name} | #{creator_id}"
.subtitle = pluralize(@pagy.count, 'Custom Design')

.columns.is-multiline
  - @custom_designs.each do |custom_design|
    .column.is-one-quarter-widescreen.is-one-third-desktop.is-half-tablet.is-full-mobile
      = render 'custom_designs/custom_design_card', custom_design: custom_design

  .column.is-12
    = render 'layouts/pagination', pagy: @pagy
