footer.footer
  .content.has-text-centered.has-text-white
    b <a href="https://www.patreon.com/stephann?fan_landing=true" class="has-text-white">Support me</a>.
    b =< link_to 'Open source', 'https://github.com/stephannv/customdesigns', target: '_blank', class: 'has-text-white'
